/.vscode
/add.svg
/admin.svg
/adminHome.php
/adminIcon.svg
/airpods.html
/cases.html
/casques.html
/categorie.html
/categorie.svg
/charger.html
/connection.php
/Contact.html
/dashboard.svg
/home.php
/icons.svg
/images
/input.css
/Iphones.html
/Login.php
/main.js
/microphone.html
/orders.svg
/output.css
/panier.svg
/produits.svg
/Register.php
/smartwatch.html
/tailwind.config.js
/TV.html
/user.svg
/users.svg
/welcome.php